body {
  font-family: Calibri, Helvetica;
  background-color: rgb(70, 53, 31);
}

p {
  /* Instructions say to use Calibri or Helvetica font however
     the whole concept of CSS is that it's cascading so there is
     no need for this explicit definition because the body already
     uses those fonts */
    color: black; /* This line placed to remove the 'Do not use empty rulesets' warning */
}

h1, h2, h3 {
  text-align: center;
}

h1, h2 {
  font-family: 'Courier New';
  color: red;
}

hr {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}

img {
  display: block;
  width: 400px;
  margin: auto;
}

a {
  color: red;
}

a:visited {
  color: green;
}

#main-content {
  width: 70%;
  margin:auto;
  background-color: antiquewhite;
  padding: 20px;
}

ul {
  list-style-type:square;
}

ul li::marker {
  color: purple;
}

ol {
  list-style-type: lower-roman;
}

.categories {
  font-size: 34px;
  margin: auto;
  width: 70%;
  text-align: center;
  list-style-position: inside;
}

.categories li {
  color: grey;
}

.categories li:hover {
  font-size: 40px;
  color: black;
}

.commitment li {
  float: left;
  text-decoration: none;
  width:20%;
  background-color: purple;
  margin: 2%;
  padding: 2%;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

ul li br {
  clear: both;
}

h4 {
  clear:left;
}

table tr td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  background-color: lightblue;
}

.button {
  color: red;
  margin:5%;
  font-size: 2em;
}

.wasteoftime {
  color: green;
  margin: 5%;
  font-size: 2em;
}

input[type=submit] {
  color: green;
}

input[type=submit]:hover {
  color: red;
}

@media screen and (max-width: 1000px) {
  img {
     width: 80%;
  }

  .categories {
    width: 90%;
  }

  .commitment li {
    font-size: 15px;
  }
}